.plainteAdmin{
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Lato;
    font-size: 2em;
    color: #666666ff;
}

.form-control {
    font-size: 1.5em;
    font-family: Lato;
    border-radius: 7px;
}

.objet{
    display: flex;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: #8eca78ff solid 2px;
}

.plainteAdmin a {
    text-decoration: none;
    width: 300px;
    padding:7px 7px 7px 7px;
    border:1.5px solid #8eca78ff;
    border-radius: 7px;
    background-color: #ffffffff;
}

.plainteAdmin a:hover{
    color:#ffffff;
    background:#8eca78ff;

}

.poubelle:hover {
    color: #8eca78ff;
}

.listeuser{
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Lato;
    font-size: 2em;
    color: #666666ff;

}

.adduser:hover {
    color: #8eca78ff;
}

table {
    border:3px solid #8eca78ff;
    border-collapse:collapse;
    width:90%;
    margin:auto;
}
thead, tfoot {
    background-color:#D0E3FA;
    background-image:url(sky.jpg);
    border:1px solid #8eca78ff;
}
tbody {
    background-color:#FFFFFF;
    border:1px solid #8eca78ff;
}
th {
    font-family:monospace;
    border:1px dotted #8eca78ff;
    padding:5px;
    background-color:#EFF6FF;
    width:25%;
}
td {
    font-family:sans-serif;
    font-size:80%;
    border:1px solid #8eca78ff;
    padding:5px;
    text-align:left;
}
caption {
    font-family:sans-serif;
}